@import 'stylesheets/config/colors'

.example-enter 
  opacity: 0.01

.example-enter .example-enter-active 
  opacity: 1
  transition: opacity 100ms ease-in

.example-leave 
  opacity: 1

.example-leave .example-leave-active 
  opacity: 0.01
  transition: opacity 100ms ease-in

.button-bar
  z-index: 0
  margin: 200px 0 2%
  text-align: center
 
.header-bar
  margin: 0 
  position: fixed
  top: 0 
  width: 100%
  text-align: center

.button-container
  width: 75%
  margin: auto
  text-align: center

.button-subbar
  display: none
  font-size: 20px
  width: 100%
  text-align: center
  margin: auto
  transition: all 0s ease-in-out
  -webkit-transition: color 0s ease-in-out

.button-subbar .button
  color: rgba(255,255,255,0)
  transition: all 0s ease-in-out
  -webkit-transition: color 0s ease-in-out
  line-height: 45px
  height: 45px

.work .button-subbar
  display: inline-block
  height: initial

.work .button
  color: rgba(0,0,0,1)

.button
  z-index: 3
  position: relative
  text-transform: uppercase
  vertical-align: middle
  color: black
  display: inline-block
  height: 60px
  line-height: 60px
  text-align: center
  font-size: 30px
  transition: 0s
  margin: 0 2%
  padding: 0 1%
  cursor: pointer
  -webkit-transition: 0s
  &:hover
    color: black
    background: rgba(255,255,0,0.5)
  &.active-route
    color: black
    background: rgba(255,255,0,0.5)
  &::before, &::after
    width: 100%
    height: 100%
    z-index: 3
    content: ''
    position: absolute
    top: 0
    left: 0
    box-sizing: border-box
    -webkit-transform: scale(0)
    transition: transform 0.5s
  &.filter
    margin: 0 1%
    font-size: 28px
    width: initial
    text-transform: lowercase

.underline
  &::before
    border-bottom: 3px solid black
    border-left: 0
    -webkit-transform-origin: 0% 100%
  &::after
    border-top: 0
    border-right: 0
    -webkit-transform-origin: 50% 50%

.button:hover, .button.active-route
  &::after, &::before
    -webkit-transform: scale(1)

@media (max-width: 1000px)
  .button
    font-size: 25px
    &.filter
      font-size: 24px
  .button-bar
    margin: 0

@media (max-width: 800px)
  .button
    font-size: 20px
    &.filter
      font-size: 19px
 
@media (max-width: 700px)
  .button
    font-size: 15px
    &.filter
      font-size: 14px

@media (max-width: 500px)
  .button
    font-size: 13px
    &.filter
      font-size: 12px

@media (max-width: 400px)
  .button
    font-size: 13px
    &.filter
      font-size: 12px
