.header
  position: fixed
  font-family: Helvetica, sans-serif
  text-transform: uppercase
  width: 100vw
  top: 0
  height: 50px
  z-index: 3
  background: rgba(255,255,255,.85)

.header-content
  vertical-align: middle
  line-height: 60px
  font-family: Helvetica, sans-serif
  font-weight: bold

.title:hover
  color: aquamarine
  background: none

.title-container
  text-align: left
  margin: 0

.title-content
  color: black
  margin: 0 0 2%
  position: relative
  vertical-align: middle
  z-index: 1
  &:hover
    color: blue

.hidden
  visibility: hidden

.shrink
  height: 65px
  padding: 0 0 15px

.work
  height: 135px
  display: inline-block

@media (max-width:780px)
  .button-bar
    margin: 0

  .button
    height: 40px
    line-height: 40px
  &.filter
    height: 35px
    line-height: 40px

  .button-container
    height: 50px

  .work
    height: 105px

  .header-content
    line-height: 55px

  .title
    height: 30px

  .title-content
    height: 40x
    line-height: 40px

  .socialButtons
    line-height: 55px
      


