.header
	position: fixed
	font-family: Helvetica, sans-serif
	text-transform: uppercase
	width: 100%
	top: 0
	height: 50px
	z-index: 3
	background: rgba(255,255,255,.85)

.header-content
	vertical-align: middle
	line-height: 60px
	font-family: Helvetica, sans-serif
	font-weight: bold

.title:hover
	color: aquamarine
	background: none

.title-container
	text-align: left
	margin: 0

.title-content
	color: black
	margin: 0 0 2%
	position: relative
	vertical-align: middle
	z-index: 1
	&:hover
		color: blue

.hidden
	visibility: hidden

.shrink
	height: 65px
	padding: 0 0 15px

.work
	height: 140px
	display: inline-block

.socialButtons
  position: absolute
  top: 0
  right: 0
  padding: inherit
  margin: 0 15px 2px
  width: 25%
  height: 50px
  text-align: right

.social
  display: inline-block
  padding: 5px
  height: 100%
  a
    height: 100%
    display: inline-block
    .media
      height: 50%
      width: auto
    .mail
      height: 50%
      width: auto

@media (max-width: 100px)
	.button-bar
		margin: 0

	.button
		height: 40px
		line-height: 40px
	&.filter
		height: 35px
		line-height: 40px

	.button-container
		height: 50px

	.header-content
		line-height: 55px

	.title-content
		height: 40x
		line-height: 40px

	.social
    display: inline-block
    padding: 10px 5px 0 0
    a
      display: inline-block

	.shrink
		height: 45px

	.work
		height: 105px

	.socialButtons
		line-height: 20px 


