@import 'stylesheets/config/colors'

.track-container 
  width: 500px
  height: 100px
  background: grey
  overflow: auto
  margin: 20px

.flex-container 
  display: flex
  width: 2000px
  flex-direction: row
  flex-wrap: nowrap

.slider-item 
  width: 100px
  flex-shrink: 0

.showcase-image 
  cursor: ew-resize

.outgoing
  visibility: hidden
  width: 0

.left
  transform: translate(-100px)

.focus 
  opacity: 1

.non-focus
  opacity: 0.5

.flex-container
   padding: 0
   margin: 0
   list-style: none      
   -ms-box-orient: horizontal
   display: -webkit-box
   display: -moz-box
   display: -ms-flexbox
   display: -moz-flex
   display: -webkit-flex
   display: flex
   -webkit-flex-flow: row wrap
   flex-flow: row wrap

.first
  order: 0

.second
  order: 1

.third
  order: 2

.fourth
  order: 3

.fifth
  order: 4

.gallery-container
  z-index: 1

.image 
  padding: 5px
  width: 100%
  height: 100%
  box-sizing: border-box
  -webkit-user-drag: none
  -khtml-user-drag: none
  -moz-user-drag: none
  -o-user-drag: none
  user-drag: none

.grid-item-1
  width: 200px
  height: 200px

.grid-item-2
  width: 400px
  height: 400px

.grid-item-3
  width: 400px
  height: 200px

@media screen and (max-width: 1600px)
  .grid-item-1
    width: 12.5%
    height: 12.5vw

  .grid-item-2
    width: 25%
    height: 12.5vw

  .grid-item-3
    width: 25%
    height: 25vw

@media screen and (max-width: 1200px)
  .grid-item-1
    width: 16.5%
    height: 16.5vw

  .grid-item-2
    width: 33%
    height: 16.5vw

  .grid-item-3
    width: 33%
    height: 33vw

@media screen and (max-width: 800px)
  .grid-item-1
    width: 25%
    height: 25vw

  .grid-item-2
    width: 50%
    height: 25vw

  .grid-item-3
    width: 50%
    height: 50vw

@media screen and (max-width: 400px)
  .grid-item-1
    width: 50%
    height: 50vw

  .grid-item-2
    width: 100%
    height: 50vw

  .grid-item-3
    width: 100%
    height: 100vw

.button
  position: relative
  width: 90px
  vertical-align: middle
  color: $green
  display: inline-block
  height: 60px
  line-height: 60px
  text-align: center
  transition: 0.5s
  margin: 0 5%
  cursor: pointer
  -webkit-transition: 0.5s
  &:hover
    color: $red
  &::before, &::after
    width: 100%
    height: 100%
    z-index: 3
    content: ''
    position: absolute
    top: 0
    left: 0
    box-sizing: border-box
    -webkit-transform: scale(0)
    transition: 0.5s

.touch
  &::before
    border-bottom: 3px solid $red
    border-left: 3px solid $red
    -webkit-transform-origin: 0 100%
  &::after
    border-top: 3px solid $red
    border-right: 3px solid $red
    -webkit-transform-origin: 100% 0%

.touch:active
  &::before, &::after
    animation: shake .2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both
    transformation: translate3d(0,0,0) 1s step-end


@keyframes shake
  10%, 90%
    transform: translate3d(-1px, 0, 0)

  20%, 80%
    transform: translate3d(2px, 0, 0)

  30%, 50%, 70%
    transform: translate3d(-4px, 0, 0)

  40%, 60%
    transform: translate3d(4px, 0, 0)


.intersect
  &::before
    border-bottom: 3px solid $red
    border-left: 3px solid $red
    -webkit-transform-origin: 100% 0%
  &::after
    border-top: 3px solid $red
    border-right: 3px solid $red
    -webkit-transform-origin: 0% 100%

.underline
  &::before
    border-bottom: 3px solid $red
    border-left: 0
    -webkit-transform-origin: 0% 100%
  &::after
    border-top: 0
    border-right: 0
    -webkit-transform-origin: 50% 50%

.button:hover
  &::after, &::before
    -webkit-transform: scale(1)
