@import 'stylesheets/config/colors'

.showcase-container
  text-align: center
  margin: 0
  font-family: Helvetica, sans-serif

.item-details
  position: relative
  width: 500px
  box-sizing: border-box
  margin: auto

.item-details div
  margin: 10px
  text-align: left

.item-title
  font-weight: bold

.slider-container
  position: relative
  margin: auto
  width: 600px

.track-container 
  text-align: center
  margin: auto
  width: 500px
  height: 100px
  background: grey
  overflow: auto

.track 
  display: flex
  width: 2000px
  flex-direction: row
  flex-wrap: nowrap

.slider-item 
  width: 100px
  flex-shrink: 0

.showcase-image 
  cursor: ew-resize
  max-height: 600px
  max-width: 90%

.outgoing
  visibility: hidden
  width: 0

.focus 
  opacity: 1
  width: 100px

.non-focus
  opacity: 0.5
  width: 100px
  &:hover 
    opacity: 1

.flex-container
  padding: 0
  width: 100%
  justify-content: center
  margin: auto
  list-style: none      
  -ms-box-orient: horizontal
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -moz-flex
  display: -webkit-flex
  display: flex

.first
  order: 0

.second
  order: 1

.third
  order: 2

.fourth
  order: 3

.fifth
  order: 4

.gallery-container
  z-index: 1

.image 
  padding: 5px
  width: 100%
  height: 100%
  box-sizing: border-box
  -webkit-user-drag: none
  -khtml-user-drag: none
  -moz-user-drag: none
  -o-user-drag: none
  user-drag: none

.arrow
  position: absolute
  top: 50%
  display: inline-block
  width: 2rem
  height: 2rem
  border-top: .4rem solid black
  border-right: .4rem solid black
  transition: all 200ms ease
  &.left
    left: 0
    transform: translate3d(0,-50%,0) rotate(-135deg)
  &.right
    right: 0
    transform: translate3d(0,-50%,0) rotate(45deg)
  &:hover
    border-top: .4rem solid yellow
    border-right: .4rem solid yellow
    box-shadow: .2rem -.2rem 0 black
    &.left
      left: -.2rem
    &.right
      right: -.2rem

@media (max-width: 770px)
  .showcase-image
    width: 100%
    max-height: initial
    min-height: initial
  .slider-container, .flex-container
    width: 85%
  .track-container
    width: 80%
  .flex-container a
    width: 25%
    & .focus, .non-focus
      width: 100%
  .item-details
    width: 90%
